.col-with-margins {
  padding-top: 15px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

body {
  background-color: white;
}

.card {
  background-color: #7ae582;
}

h1 {
  font-family: "Ultra", serif;
  color: #00a5cf;
  text-align: center;
}

#search-form {
  font-size: 17px;
  padding-top: 50px;
  color: black;
}

#search-form,
#choose-strain-race {
  text-align: center;
}
#choose-strain-race {
  color: #f0f0f0;
}
#search-form,
#results {
  font-family: "Slabo 13px", serif;
}

h2 {
  font-family: "Ultra", serif;
  color: #00a5cf;
}

.header {
  background-color: #004e64;
}


